modules = ["web", "python-base-3.12"]
run = "app"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "app"]

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = 44860838
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"
